body,
html {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
  padding-left: 5px;
}

a {
  color: rgb(102, 102, 209);
  text-decoration: none;
}

h1 {
  font-size: 36px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #f9f9fb;
  border-top: solid 1px #cdcdcd;
  border-bottom: solid 1px #cdcdcd;
}

.bar {
  padding: 15px;
}

.bar ul {
  display: flex;
  color: rgb(72, 72, 76);
  font-weight: bold;
}

.bar ul a {
  padding: 0px 20px;
  margin: 0px 5px;
}

.content {
  max-width: 1440px;
  margin: auto;
  grid-gap: 3rem;
  display: grid;
  gap: 3rem;
  grid-template-areas: "sidebar main anchors";
  grid-template-columns: minmax(0, 15rem) minmax(0, 2.5fr) minmax(0, 15rem);
  padding-left: 1rem;
  padding-right: 1rem;
}
.footer {
  min-height: 100px;
  border-top: solid 1px #cdcdcd;
}

footer p {
  font-size: 12px;
  text-align: center;
}

.anchors {
  border-left: solid 1px #cdcdcd;
  padding-left: 15px;
}

.anchors ul a {
  display: flex;
  flex-direction: column;
  padding: 3px 0px;
  margin: 2px 0px;
}

.sidebar {
  border-right: solid 1px #cdcdcd;
}

.sidebar ul a {
  display: flex;
  flex-direction: column;
  padding: 3px 0px;
  margin: 2px 0px;
}

.introducao {
  display: flex;
}

figure {
  text-align: center;
}
